.post-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #009933;
}

.post-filter input {
    width: 20vw;
}

.post-filter span {
    color: red;
    font-weight: bold;
}