.post-filter {
    align-items: flex-start;
    color: #009933;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.post-filter input {
    border-radius: 3px;
    color: darkred;
    font-family: 'Gigi, Geneva', sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 30px;
    width: 15vh;
    padding-left: 10px;
}

.post-filter span {
    color: red;
    font-weight: bold;
}