.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-buttons {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}