.post-card {
    border: 1px solid brown;
    border-radius: 10px;
    background: #fafafa;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    width: 50vw;
    font-size: clamp(0.3rem, 0.7rem, 0.9rem);
}

.post-card__id {
    font-weight: 600;
    color: #7a7a7a;
    margin-bottom: 8px;
    display: block;
}

.post-card__title {
    margin: 0 0 6px 0;
    font-size: 1.0rem;
    font-weight: 700;
    color: #d2691e;
}

.post-card__body {
    margin: 0;
    color: #444;
    line-height: 1.5;
}