.component-button, .switch-theme {
    width: 100px;
    height: 50px;
}

.component-button {
    border: 1px solid navy;
    margin: 1px;
    padding: 5px;
}

.switch-theme {
    background: #CCCC00;
    border: 1px solid springgreen;
    color: brown;
}