.Dialog {
    border: 1px solid #a0a0a0;
    border-radius: 4px;
}

.DialogModalOpen {
    overflow: hidden; /* no body scroll */
}

.Dialog .DialogHeader {
    background-color: #f3f2f1;
    color: #8c8c8c;
    font-size: clamp(0.7rem, 3vw, 0.9vw);
    margin: 0;
    padding: 10px 10px 10px 20px;
    text-align: left;
    font-weight: 300;
    text-transform: uppercase;
}

.Dialog .DialogBody {
    max-height: 50vh;
    overflow-x: hidden;
    padding: 10px 30px 30px 30px;
    text-align: justify;
    font-size: 18px;
}

.DialogBodyContent {
    padding: 0;
    margin: 0;
    color: brown;
}

.DialogBodyContent span, p{
    font-size: clamp(0.9rem, 3vw, 0.9vw);
}

.Dialog .DialogFooter {
    padding: 10px;
    text-align: right;
    background-color: #f3f2f1;
}

.DialogModal {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.DialogModal .DialogModalWrap {
    background: white;
    margin: 5% auto;
    width: 35vw;
}

.DialogDismiss {
    background: lightsalmon;
    color: #fff;
}

.DialogFooter .Button {
    margin: 10px;
}
